

	<%= form_for trip do |f| %>
	<% if trip.errors.any? %>
    <h2>
      <%= pluralize(trip.errors.count, 'error') %>
      prohibited this user from being saved
    </h2>
    <ul>
      <% trip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  	<% end %>
		<div class="form-group">
			<h3>Trip</h3>
			<%= f.label :name, 'Name Your Trip', class: 'col-sm-2 control-label' %>
				<div class="col-sm-10">
					<%= f.text_field :name, class: 'form-control' %>
				</div>
		</div>


			<%= f.submit nil, class: 'btn-primary' %>
<% end %>
