


<h3><%= current_user.email %></h3>
<br />
<h3>Secrets Out!<br/>Your password is: <%= current_user.encrypted_password %></h3>
<br />
<h3>Your Trips:</h3>

<div class='container'>
<% if @trips.any? %>
	<ul>
		<% @trips.each do |trip| %>
		<li class='list-styles col-md-4'>
			<h2> <%= trip.info %> </h2>
			<br />
			<%= link_to 'Details', trip_path(trip), class: 'btn btn-primary'%>
			<%= link_to 'Edit', edit_trip_path(trip), class: 'btn btn-warning' %>
			<%= link_to 'Delete', trip_path(trip),
									 class: 'btn btn-danger',
									 data: {confirm: 'Do you really want to delete?'},
									 method: :delete %>
		</li>
		<% end %>
	</ul>
<% end %>
<%= link_to 'Plan an Adventure!', new_trip_path, class: 'btn btn-primary' %>
</div>
