
<p>Name: <%= @trip.info %></p>


<% if @trip.locations.any? %>
	<% @trip.locations.each do |location| %>
	<h5>Address</h5>
	<ul>
		<li><%= location.us_formatted %></li>
		<li><%= location.address.city %></li>
		<li><%= location.address.zip %></li>
		<li><%= location.address.state %></li>
		<li><%= location.address.street %></li>
		<%= link_to 'Delete Location', trip_location_path(@trip, location), method: :delete %>
	</ul>

	<% end %>
<% else %>
	<p>No Location</p>

<% end %>
<div>
<%= link_to 'Add Location', new_trip_location_path(@trip) %>
<%= link_to 'Delete Trip', trip_path(@trip), class: 'btn btn-danger',
data: {confirm: 'Do you really want to delete?'},
method: :delete
%>
</div>
