<p>
  <strong>Country:</strong>
  <%= @location.country %>
</p>

<p>
  <strong>State:</strong>
  <%= @artist.genre %>
</p>

<p>
  <strong>Age:</strong>
  <%= @artist.age %>
</p>

<p>
  <strong>Active:</strong>
  <%= @artist.active %>
</p>


<p>
  <strong>Song count:</strong>
  <%= @artist.songs.count %>
</p>

<%= link_to 'All Songs', artist_songs_path(@artist) %> |
<%= link_to 'New Song', new_artist_song_path(@artist) %> |
<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
