<p>
  <strong>Country:</strong>
  <%= @location.country %>
</p>

<p>
  <strong>State:</strong>
  <%= @location.state %>
</p>

<p>
  <strong>City:</strong>
  <%= @location.city %>
</p>

<%= link_to 'All locations', location_address_path(@location) %> |
<%= link_to 'New location', new_location_address_path(@location) %> |
<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
